@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
    margin: 0;
    background-color: rgba(234,237,237,255);
}
.header1 {
    display: flex;
    background-color: rgba(35,47,63,255);
    height: 4rem;
}

.imglogo{
    width: 9rem;
    height: 4rem;
}

.imglogo:hover{
    border-style: ridge;
    border-color: white;
    border-width: thin;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
}
.delivery:hover{
    border-style: ridge;
    border-color: white;
    border-width: thin;
}
.delivery p,h2{
    color: white;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    margin: 0.5rem 3.5rem 0.5rem 3.2rem;
    width: 46rem;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.5rem 0.5rem;
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    cursor: pointer;
    height: 100%;
}
.container:hover{
    border-style: ridge;
    border-color:  rgb(235, 156, 10);
    border-width: 0.5rem;
    box-shadow: 0;
}
.glass{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.5rem 0.6rem;
    margin-left: -0.01rem;
    background-color: rgb(255, 179, 37);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem; 
    cursor: pointer;
}
.glass:hover{
    background-color: rgb(235, 156, 10);
}
.country{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
}
.account,.return,.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    
    padding: 0.1rem;
    width: 7%;
}
.account{
    width: 10%;
}
.country:hover, .account:hover, .return:hover, .cart:hover, .menu:hover, .navbar p:hover{
    border-style: ridge;
    border-color: white;
    border-width: thin;
    cursor: pointer;
}
.account p,h3{
    margin: 0;
    font-size: 0.8rem;
}
.return p,h3{
    margin: 0;
    font-size: 0.8rem;
}
.header2{
    display: flex;
    height: 2.5rem;
    background-color: #34465c;
}
.menu{
    display: flex;
    width: 4rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    font-size: 0.95rem;
}
.navbar{
    display: flex;
    padding: 0.5rem 0;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 0.90rem;
}

.navbar p{
    padding: 0 0.5rem;
}
.containerarrow{
    width: 100%;
    position: relative;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 14rem;
    width: 4.5rem;
    position: absolute;
    top: 0;
    color: black;
}
.arrow:hover{
    border-style: ridge;
    border-color: white;
}
#arrow-right{
    right: 0;
}
.slide{
    display: none;
}
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }
.item8 { grid-area: item8; }


.grid-container{
    display: grid;
    grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item7 item8';
    grid-gap: 10px;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 10px;
    grid-template-columns: auto auto auto auto;
    position: relative;
}
.item1, .item2,.item3,.item4,.item5,.item6,.item7,.item8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.item4 img{
   top: 170px;
   position: absolute;
}
.grid-container h2{
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 1.25rem;
    color: black;
}

.itemtext{
    text-decoration: none;
    color: rgba(98,168,180,255);
    position: absolute;
    font-size: 0.8rem;
    bottom: 20px;
    left: 10px;
}
.itemtext:hover{
    text-decoration: underline;
    color: rgba(202,91,44,255);

}

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,216,20,255);
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    left: 15px;
}
.signin:hover{
    background-color: rgba(247,202,0,255);
}
.itemrow{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
   
}
.itemrow > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
  }